:root{
    --text-color: #323232;
    --text-color-reverse: #ffffff;
    --background-color: #f1f1f1;
    --background-color-dim-light: #eceaea;
    --background-color-dim: #aeaeae;
    --background-color-dim-strong: #818181;
    --background-color-button-light: #25d366;
    --background-color-button: #1bb152;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@font-face {
    font-family: 'MainFonts';
    src: url(fonts/MPLUSRounded1c-Medium.ttf);
}
@keyframes spin-anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}
*, *::before, *::after {
    box-sizing: border-box;
}
html{
    font-family: "MainFonts";
    scroll-behavior: smooth;
}
body {
    color: var(--text-color);
    margin:0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
}
img{
    max-width: 100%;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin:0.5rem;
    padding:0px; 
    font-weight: normal;
    color: var(--text-color);
    line-height: 1.2;
}
.wide{
    margin: 1rem 0.5rem;
}
a{
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}
p{
    margin: 0.5rem;
    font-size: 1rem;
}
label{
    padding: 4px 0px;
    font-size: 1rem;
    font-weight: normal;
}
input,select,button,textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: var(--background-color-dim-strong);
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: normal;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    border:none;
    outline: none;
    box-sizing: border-box;
    color: var(--text-color);
}
button,input[type=submit]{
    background: none;
    background-color: var(--background-color-button);
}
textarea{
    width: 100%;
    min-height: 300px;
    resize: none;
}
textarea.readonly{
    background-color: var(--background-color-dim);
    padding: 0px;
}

.toggle{
    cursor: pointer;
}

.app{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.container{
    display: block;
    width: 100%;
    margin-bottom:1rem;
    margin-top:1rem;
}
.container:first-child{
    margin-top: 0rem;
}
.content{
    display: block;
    width: 100%;
    padding: 1rem;
}
.content.no-margin{
    padding: 1rem 0rem;
}
.content:empty{
    padding: 0rem;
}

/* Inside Swiper */
.thumbnail{
    /* --src diset pada inline */
    background-image: var(--src);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-width: 100px;
    height: 200px;
    background-color: var(--background-color-dim-strong);
}
.tombol{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    width: auto;
    height: 4rem;
    font-size: 1rem;
    background-color: var(--background-color-button-light);
    color: var(--text-color-reverse);
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}
.tombol:active{
    /* transform: scale(0.95); */
    transition: 0s;
    -webkit-tap-highlight-color: transparent;
    filter: brightness(2);
}
.tombol h3{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* End Swiper Content */

.listing-container{
    display: block;
    overflow-y: auto;
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.listing-container .listing-box{
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
}
.listing-container .listing-box:first-child{
    margin-top: 0rem;
}
.listing-container .listing-box:last-child{
    margin-bottom: 0rem;
}
.listing-container .listing-box.header{
    display: flex;
    background-color: var(--background-color-dim);
}
.listing-container .listing-box p{
    font-size: 1rem;
}
.listing-container .listing-box .time{
    padding: 0.2rem 0.6rem;
    background-color: var(--background-color-button-light);
    color: var(--text-color);
    border-radius: 0.6rem;
}
.listing-container .listing-content{
    overflow: hidden;
}
.listing-container .listing-content.off{
    max-height: 0px;
}

.model{
    display: block;
    padding: 1rem;
    background-color: var(--background-color);
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    top: 0;
    z-index: 9999;
    transition: 0.5s;
}
.model.off{
    top: 100vh;
}

.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color-dim-strong);
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 0.5rem;
}
.cube *{
    margin: 0rem;  
    line-height: 1; 
}
.cube h1{
    font-size: 1.5rem;
}

.swiper{
    overflow: hidden;
}
.swiper.round{
    border-radius: 1rem;
}
.swiper.round-half{
    border-radius: 0rem 0rem 1rem 1rem;
}
.swiper-slide{
    border-radius: 1rem;
    overflow: hidden;
}
/* rundown-perjalanan */
#rundown-perjalanan{
    display: flex;
    flex-direction: column;
}
#rundown-perjalanan .header.current{
    background-color: var(--background-color-button-light);
}
#rundown-perjalanan .header.current .cube{
    background-color: var(--background-color-button);
}
#rundown-perjalanan .header.current .cube *{
    color: var(--text-color-reverse);
}
#rundown-perjalanan .spotlight{
    order: -1;
}

/* Splash Screen */
.splashscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 99999;
    font-size: 5rem;
    animation: countdown-wiggle 5s infinite;
    transition: 1s;
}
.splashscreen.hide{
    opacity: 0;
}